@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

#recaptcha-container {
  position: relative !important;
  margin-top: 10px !important;
  z-index: 1 !important;
  width: fit-content;
}

#recaptcha-container iframe {
  transform: scale(0.90);
  transform-origin: 0 0;
}
